

.container-clock {
    text-align:right
    ;
}

.container-clock h1 {
    font-size: 10px;
    font-weight: 400;
}

.container-clock p {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}